<strong>Olá, {{ deliveryman }}</strong>
<p>Cancelamos a entrega para o cliente abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ client }} <br />
  <strong>endereço: </strong> {{ address }} <br />
  <br />
  <small>
    Devida a gravidade do problema, cancelamos essa entrega.
  </small>
</p>
