<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma nova encomenda, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ client }} <br />
  <strong>endereço: </strong> {{ address }} <br />
  <br />
  <small>
    A encomenda já pode ser retirada para entrega.
  </small>
</p>
